:root{
    --primary-color: #022442;
    --secondary-color: #5e5b5b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  background-color: #fff;
  max-width: 100%;
  color: var(--primary-color);
}

.container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
header {
  margin: 20px 40px;
}
header .container {
  justify-content: space-between;
}
header h3 {
  font-size: 32px;
}
.h_left{
  display: flex;
  align-items: center;
}
.benefits {
  margin: 100px auto;
}
.first_section {
  margin: 0 auto;
}
.first_section .container {
  display: flex;
  justify-content: space-between;
}
.first_section .s_leftside {
  width: 50%;
}
.first_section .s_leftside h1 {
  font-size: 100px;
}
.first_section .s_leftside p {
  line-height: 2;
  color: var(--secondary-color);
  width: 400px;
  font-size: 18px;
  padding: 20px 0;
}
.first_section .s_rightside {
  width: 40%;
}
.first_section .s_rightside img {
  width: 100%;
  object-fit: cover;
  height: 600px;
}
.benefits .container {
  flex-direction: column;
}
.benefits .container .row {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.benefits .container .row .box {
  width: 340px;
}
.benefits .box i {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50%;
  font-size: 26px;
  color: #fff;
  margin: 20px 0;
}
.benefits .box h5 {
  font-size: 22px;
}
.benefits .box p {
  margin: 30px 0;
  line-height: 1.5;
  color: var(--secondary-color);
  font-size: 18px;
}
.prefooter {
  text-align: center;
  margin: 15px;
}
#prefooter-title {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 900;
}
.prefooter p{
    color: var(--secondary-color);
    font-size: 20px;
}
footer {
  margin: 100px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  text-align: center;
  padding: 20px 0;
  color: var(--secondary-color);
}

@media screen and (max-width: 1280px) {
  .container {
    width: 922px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    margin: 20px 0;
  }
  header h3 {
    font-size: 21px;
  }
  .container {
    width: calc(100% - 30px);
  }
  .first_section .s_leftside {
    width: 40%;
    padding-top: 120px;
  }
  .first_section .s_rightside {
    width: 60%;
  }
  .first_section .s_leftside h1 {
    font-size: 50px;
  }
  .first_section .s_leftside p {
    font-size: 18px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .benefits .container .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .benefits .container .row .box {
    width: 228px;
    margin: 10px 26px;
  }
  .first_section .s_rightside img {
    height: 800px;
  }
  .first_section .container {
    flex-direction: column;
  }
  .benefits .box p {
    margin: 48px 0;
  }
  .benefits .box h5 {
    margin-top: -80px;
    margin-left: 90px;
  }
  .first_section {
    position: relative;
  }
  .first_section .s_leftside {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 100px;
    width: 100%;
  }
  .first_section .s_leftside h1 {
    font-size: 50px;
    color: #fff;
    width: 50%;
  }
  .first_section .s_leftside p {
    color: #fff;
    line-height: normal;
    letter-spacing: 1.5px;
    width: 100%;
    font-weight: 400;
  }
  .first_section .s_rightside {
    width: 100%;
    order: -1;
  }
}

@media screen and (max-width: 700px) {
  .benefits .container .row .box {
    width: 100%;
    padding: 10px;
    box-shadow: 1px 0 8px -1px rgb(170, 170, 170);
  }
}
